* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.escenario {
	background-image: url("https://www.fgbg.art/static/ssf2t_ken-d3fc1ded2a1d770e309657402d7e14a9.gif");
	width: 100%;
	height: 420px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}
body {
	width: 100vw;
}

.pj1 {

	background-image: url("https://www.fightersgeneration.com/characters3/ryu-ts-stance.gif");
	width: 125px;
	height: 115px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 80px;
	transition-duration: 0s;
}

.pj2 {
	background-image: url("https://www.fightersgeneration.com/characters2/ken-ts-stance.gif");
	width: 125px;
	height: 115px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 80px;
	left: 1000px;
	transition-duration: 0s;
	transform: scaleX(-1);
}